
</div>
<footer>
  <div class="footer-padding"></div>
    <div class="footer">
      <p>Hergestellt mit ❤️ von <a href="https://yashviradia.github.io/personal_website_1/">Yash Viradia</a></p>
    </div>
</footer>

</div>
</body>
</html>
